node_modules
package-lock.json

# Secrets
.env.secrets
secrets/
*.secret
*.key
.env
IMPROVMENTS.MD
.github
OPENTELEMETRY_STRATEGY.md
observability/start-observability.sh
observability/test-trace-propagation.sh